/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#weather {
    background-color: aliceblue;
    height: 6%;
    float: right;
    width: 75%;
    font-size: larger;
    text-align: center;
}
#map {
    height: 78%;
    float: right;
    width: 75%;
    border: 2px solid black;
    box-sizing: border-box;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
    height: 105%;
    margin: 3px;
    padding: 0;
    background-color: lightblue;
}

/* Create left detail area */
#stationDetail {
    font-size: medium;
    text-align: center;
    background-color: aliceblue;
    float: left;
    width: 24%;
    font-family: 'Geneva';
    height: 85%;
    margin: auto;
}

#headLine {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Geneva'; /*'Ma Shan Zheng', cursive;*/
    font-size: 60px;
}

#teamMember{
    font-weight: bold;
    text-align: right;
    font-family: 'Geneva';
}

#barDetail {
    border: 2px solid black; /* sets border to 1px thickness, solid style, and black color */
    padding: 5px; /* adds padding to the inside of the box */
    text-align: left;
    width: 90%;
    height: auto; /* sets the height of the box */
    margin: auto; /* center the box horizontally */
    font-family: 'Geneva';
    font-size: 15px;
    font-weight: bold;
    /* margin-top: 5px; */
}

#ChartBike,#ChartStation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aiPlot{
    border: 2px solid black; /* sets border to 1px thickness, solid style, and black color */
    padding: 5px; /* adds padding to the inside of the box */
    width: 90%;
    height: auto; /* sets the height of the box */
    margin: auto; /* center the box horizontally */
    text-align: center;
    font-family: 'Geneva';
    /*margin: auto; !* center the box horizontally *!*/
}

/* Dropdown Button */
.dropbtn {
    margin-top: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}